{% set form_action = url_for('my_courses.search_ai_courses') %} {% extends
'user/my_courses/my_courses_base.html' %}
{% block title %}AI-Generated Courses{% endblock %}
{% block extra_css %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename = 'css/user/my_courses/ai_generated_courses.css') }}" />
    <script>
    // Check if the user has seen the warning message and depending on that set the attribute to show or hide the warning
  const usersawmsg = sessionStorage.getItem("usersawmsg") || "no"; 
  document.documentElement.setAttribute("data-warningSaw", usersawmsg);
    </script>
{% endblock %}
{% block content %}
    {{ super() }}
    <!--Wrapper that shows all AI-generated courses by the user-->
    <div class="ai-generated-courses-wrapper">
        {% if ai_courses_data %}
            {% for ai_course in ai_courses_data %}
                <!--{{ai_course[0]}} means course ID-->
                <!--{{ ai_course[1] }} means course name-->
                <!--{{ ai_course[2] }} means course status-->
                <!--{{ ai_course[3] }} means course creation date-->
                <!--Each AI course is shown in a block with its name, status, and creation date-->
                <div class="ai-course-block">
                    <p class="course-name">{{ ai_course[1] }}</p>
                    <p class="generated-date">created at {{ ai_course[3] }}</p>
                    <p class="status {% if ai_course[2] == "Completed" %}completed{% else %}pending{% endif %}">{{ ai_course[2] }}</p>
                    <!--This form is used to open or continue the AI course-->
                    <form action="{{ url_for("my_courses.intermediate_route_ai") }}"
                          method="post">
                        <input type="hidden" name="ai-course-id" value="{{ ai_course[0] }}" />
                        <button class="open-a-course-btn" type="submit">
                            <!--Change button text based on course status-->
                            {% if ai_course[2] == "Completed" %}
                                open
                            {% else %}
                                Continue
                            {% endif
                            %}
                        </button>
                    </form>
                    <!--End of form to open or continue the AI course-->
                </div>
                <!--End of AI course block-->
            {% endfor %}
        {% else %}
            <div class="no-result-wrapper"
                 style="height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center">
                <img style="width: auto;
                            height: 500px"
                     class="no-result-image"
                     src="{{ url_for('static', filename='images/assets/no_result.png') }}"
                     alt="No result Image" />
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block floatingItems %}
    <!--Button to add a new AI-generated course-->
    <button class="add-ai-generated-courses-btn">
        <svg xmlns="http://www.w3.org/2000/svg"
             id="Outline"
             viewBox="0 0 24 24"
             width="512"
             height="512">
            <path d="M23,11H13V1a1,1,0,0,0-1-1h0a1,1,0,0,0-1,1V11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H11V23a1,1,0,0,0,1,1h0a1,1,0,0,0,1-1V13H23a1,1,0,0,0,1-1h0A1,1,0,0,0,23,11Z" />
        </svg>
    </button>
    <!--End of button to add a new AI-generated course-->
    <!--Input wrapper for creating a new AI-generated course based on user input-->
    <div class="new-course-input-wrapper">
        <div class="new-ai-courses-form">
            <input type="text"
                   class="user-input"
                   placeholder="Type what do you need to learn" />
            <button class="send-btn">
                <svg xmlns="http://www.w3.org/2000/svg"
                     id="Outline"
                     viewBox="0 0 24 24"
                     width="512"
                     height="512">
                    <path d="M23.119.882a2.966,2.966,0,0,0-2.8-.8l-16,3.37a4.995,4.995,0,0,0-2.853,8.481L3.184,13.65a1,1,0,0,1,.293.708v3.168a2.965,2.965,0,0,0,.3,1.285l-.008.007.026.026A3,3,0,0,0,5.157,20.2l.026.026.007-.008a2.965,2.965,0,0,0,1.285.3H9.643a1,1,0,0,1,.707.292l1.717,1.717A4.963,4.963,0,0,0,15.587,24a5.049,5.049,0,0,0,1.605-.264,4.933,4.933,0,0,0,3.344-3.986L23.911,3.715A2.975,2.975,0,0,0,23.119.882ZM4.6,12.238,2.881,10.521a2.94,2.94,0,0,1-.722-3.074,2.978,2.978,0,0,1,2.5-2.026L20.5,2.086,5.475,17.113V14.358A2.978,2.978,0,0,0,4.6,12.238Zm13.971,7.17a3,3,0,0,1-5.089,1.712L11.762,19.4a2.978,2.978,0,0,0-2.119-.878H6.888L21.915,3.5Z" />
                </svg>
            </button>
        </div>
        <!--End of input wrapper for creating a new AI-generated course-->
        <!--This warning message is shown to the user when they try to create an AI-generated course-->
        <!--It informs them that there is no built-in code editor for AI-generated courses-->
        <div class="warning-wrapper">
            <p>We are not giving a built in code editor for AI Generated Courses</p>
            <button>X</button>
        </div>
        <!--End of warning message-->
        <!--Loader animation that shows while the AI-generated course is being created-->
        <div class="loader">
            <div class="square" id="sq1"></div>
            <div class="square" id="sq2"></div>
            <div class="square" id="sq3"></div>
            <div class="square" id="sq4"></div>
            <div class="square" id="sq5"></div>
            <div class="square" id="sq6"></div>
            <div class="square" id="sq7"></div>
            <div class="square" id="sq8"></div>
            <div class="square" id="sq9"></div>
        </div>
        <!--End of loader animation-->
    </div>
    <!--End of input wrapper for creating a new AI-generated course-->
{% endblock %}
{% block extra_js %}
    <script>let ai_course_url = "{{ url_for('my_courses.generarting_course') }}";</script>
    <script src="{{  url_for('static', filename='js/user/my_courses/ai_generated_courses.js') }}"></script>
{% endblock %}
