{% extends 'user/base.html' %}
{% block title %}My Courses{% endblock %}
{%
block extra_css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/my_courses/dashboard.css') }}" />
{% endblock %}
{% block content %}
    <div>
        {% for course_data in all_courses_data %}
            <p>{{ course_data[0] }}</p>
            <p>{{ course_data[1] }}</p>
            <p>{{ course_data[2] }}</p>
            <p>{{ course_data[3] }}</p>
            <p>{{ course_data[4] }}</p>
            <p>{{ course_data[5] }}</p>
        {% endfor %}
    </div>
{% endblock %}
