@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.ttc") format("truetype");
  font-style: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Konkhmer";
  src: url("../../fonts/Konkhmer.ttf") format("truetype");
  font-style: normal;
  font-style: normal;
  font-weight: normal;
}

:root {
  --small-blocks-color: #ebe9fc36;
  --home-text-color: #ebe9fc;
  --text-color-first: #ffd700;
  --text-color-second: #eeeeee;
  --text-color-third: #ffa500;
  --text-color-rest: #ffffff99;
  --second-text-color: #ebe9fc70;
  --blocks-color: #0d0d11;
}

* {
  transition: background-color 0.4s ease, fill 0.4s ease, color 0.4s ease;
}

body {
  margin: 0;
  /* Removes default margin because it is easy to customize */
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  /* Use flexbox to arrange child elements in a responsive layout */
  flex-direction: row;
  height: 100vh;
  width: 100%;
  font-family: "Inter";
  overflow: hidden;
}

/* Wrapper that holds greeting texts */
.greeting-wrapper {
  margin-top: 20px;
  /* Adds some space between this div and the top bar */
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  /* Aligns greeting text to the right for easier reading */
  flex-direction: column;
  width: 100%;
  /* Full width to allow right alignment of child elements */
}

/* Styles the wrapper that contains Hello message */
.greeting-txt-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  /* Adds space between items for better readability */
}

/* Styles the greeting text */
.greeting-txt {
  font-family: "Konkhmer";
  font-size: xx-large;
  /* Enlarges greeting text to grab user attention */
  margin: 0;
  /* Removes extra spaces for better appearance */
}

/* Styles the waving hand image in greeting */
.greeting-txt-wrapper img {
  height: 45px;
  /* Matches greeting text height */
}

/* Styles the welcome text under the greeting */
.welcome-txt {
  margin: 0;
  /* Removes extra spaces for better appearance */
  text-wrap: wrap;
  width: 350px;
  font-size: large;
}

/* Styles the wrapper that holds all the widjets (blocks) */
.block-wrapper {
  width: calc(100% - 30px);
  /* Removes 30px from the width as padding-left and padding-right are 15px, to prevent from overfloe */
  padding: 50px 15px 0;
  /* Adds space between greeting wrapper and widgets for clear separation */
}

/* Wrapper for two widget blocks, used to group and align them consistently */
.blocks {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-bottom: 35px;
}

/* Styles the widget block */
.block {
  background-color: var(--blocks-color);
  display: flex;
  flex-direction: column;
  width: 45%;
  border-radius: 25px;
  padding: 15px;
  justify-content: center;
  cursor: pointer;
}

/* Styles the wrapper that contains the title text and the image */
.block .title {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: large;
  font-weight: bold;
}

.block .title img {
  height: 20px;
  /* Matches height to font size */
}

.block p {
  margin: 5px;
}

/* Styles other sub texts in each blocks */
.description,
.progress-bar,
.completed-amount,
.empty {
  margin-left: 20px !important;
  /* Aligns text with image */
}

.progress-bar {
  background-color: var(--text-color);
  height: 8px;
  border-radius: 50px;
  position: relative;
  transition: all 0.5s ease;
}

/* Styles the line in the progress bar */
.progress-line {
  position: absolute;
  height: 8px;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.empty {
  color: var(--second-text-color);
  margin: 0;
}

.completed-amount {
  font-size: small;
  color: var(--second-text-color);
}

.continue-learning-wrapper .progress-line {
  background-color: #d8b731;
}

.problem-solved-wrapper .progress-line {
  background-color: #d87f31;
}

.problem-solved-wrapper {
  justify-content: center;
  gap: 15px;
}

.streak-wrapper,
.community-Buzz-wrapper {
  height: 100px;
  gap: 10px;
}

table {
  font-size: medium;
  border-collapse: separate;
  border-spacing: 0 1em;
  /* Adds some spaces between <tr>s for better visualization*/
}

tr {
  text-align: center;
  /* Adds vertical spacing of 1em between table rows while keeping columns tightly aligned */
  cursor: pointer;
}

tr:nth-child(2) {
  color: var(--text-color-first);
}

tr:nth-child(3) {
  color: var(--text-color-second);
}

tr:nth-child(4) {
  color: var(--text-color-third);
}

tr:nth-child(n + 5) {
  color: var(--text-color-rest);
}

.latest-achievement-wrapper {
  justify-content: space-evenly;
}

.achievement-block-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
  /* Keeps some space between the achievements blocks and the title of thie block */
  gap: 15px;
}

.achievements-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  background-color: var(--small-blocks-color);
  padding: 15px;
  border-radius: 15px;
  height: 90%;
}

.achievement-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.achievement-type p {
  font-size: medium;
  font-weight: bold;
}

.number-of-achievements {
  font-size: xx-large;
  font-weight: bolder;
}

.achievements-block .description {
  color: var(--second-text-color);
  font-weight: normal;
  font-size: smaller;
  margin-left: 0 !important;
  text-align: center;
}

.achievements-block img {
  height: 25px;
}

/* Responsive styles for screens narrower than 1200px to improve layout on tablets and smaller devices */
@media only screen and (max-width: 1280px) {
  .wrapper-2,
  .wrapper-3 {
    flex-direction: column;
  }

  .wrapper-2 .block,
  .wrapper-3 .block {
    width: calc(100% - 30px);
    /* Reduces 30px from total width of the screen as there are 15px padding in the both side, and this helps to prvent from over flowing the content */
  }

  .wrapper-1 {
    gap: 15px;
    /* Reduces the gap between first two blocks ar the screen is small */
  }

  .wrapper-1 .description,
  .wrapper-1 .completed-amount,
  .wrapper-1 .title {
    text-align: center;
    font-size: small;
    /* Reduces the font sixe as the screen is small */
  }

  .problem-solved-wrapper,
  .continue-learning-wrapper {
    width: 55%;
    justify-content: center;
    align-items: center;
  }

  .progress-bar {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(
      var(--text-color) 0deg 360deg,
      /* 30% of 360deg = 108deg */ transparent 108deg 360deg
    );
    mask: radial-gradient(farthest-side, transparent 80%, black 80%);
  }

  .progress-line {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    mask: radial-gradient(farthest-side, transparent 80%, black 80%);
  }

  .achievement-block-wrapper {
    gap: 5px;
    /* Reduces gab as the screen is small and if the gap is same as the large screen, contents start to move out of the <div> achievement-block-wrapper */
  }

  /* Styles menu collapsed button for smaller screens */
  .small-screen {
    display: flex;
    /* Shows this button */
  }
}
