{% extends 'user/community/community_base.html' %}
{% block title %}
    Community -
    Newest
{% endblock %}
{% block extra_css %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename = 'css/user/community/chat_card.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/atom-one-dark.min.css" />
{% endblock %}
{% block content %}{{ super() }}{% endblock %}
{% block extra_js
    %}
    {{ super() }}
    <script>
  const discussionRepliesUrl = "{{ url_for("community.get_answers") }}";
  const toggleSaveUrl = "{{ url_for("community.toggle_save") }}";
  const urlForDiscs = "{{ url_for("community.get_new_community_questions") }}";
  const STATIC_BASE = "{{ url_for('static', filename='') }}";
    </script>
    <script type="module"
            src="{{ url_for('static', filename = 'js/user/community/chat_card.js')}}"></script>
    <script type="module"
            src="{{ url_for('static', filename = 'js/user/community/get_chats.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}
