.code-editor-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-self: center;
}

.code-editor-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  border-top: 2px solid var(--border-color); /* Top border for the top bar for clearer separation */
  border-bottom: 2px solid var(--border-color); /* Bottom border for the top bar for clearer separation */
}

/* Styles for the run button */
.run {
  background-color: var(--text-color);
  border: none; /* Removes default button border for modern look */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
  color: var(--background-color);
  cursor: pointer; /* Changes the cursor to a pointer on hover to indicate it's clickable */
}

.coding-env {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex: 1; /* Takes up the remaining space in the parent container */
}

.code-editor {
  height: 100%;
  width: 800px;
}

.terminal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  padding: 5px;
}

.vertical-nav-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vertical-nav-bar button {
  background-color: transparent !important;
  fill: var(--second-text-color);
  height: fit-content;
  width: fit-content;
  padding: 0 !important;
  border: none; /* Removes default button border for modern look */
  cursor: pointer; /* Changes the cursor to a pointer on hover to indicate it's clickable */
}

.vertical-nav-bar button:hover {
  fill: var(--text-color);
}

.vertical-nav-bar button svg {
  height: 20px;
  width: auto;
}

.ai-assistance-wrapper {
  display: none;
  flex-direction: column;
  width: 100%;
}

.output-wrapper {
  margin-right: auto;
  overflow-y: auto;
  display: flex;
  flex: 1;
  scrollbar-gutter: stable; /* Ensures that content does not shift when the scrollbar appears */
}

.btn-to-show-output.active-btn svg,
.btn-to-show-input.active-btn svg,
.btn-to-show-ai-assistance.active-btn svg {
  fill: var(--text-color);
}

.chat-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 15px;
}

.chat-input-wrapper button {
  background-color: transparent !important;
  fill: var(--second-text-color);
  border: none; /* Removes default button border for modern look */
  cursor: pointer; /* Changes the cursor to a pointer on hover to indicate it's clickable */
}

.chat-input-wrapper button:hover {
  fill: var(--text-color);
}

.chat-input-wrapper button svg {
  height: 20px;
  width: 20px;
}

.chat-input-wrapper input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  font-size: medium;
  color: var(--text-color);
  caret-color: var(--primary-color);
}

.terminal-line-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.terminal-line-wrapper p {
  margin: 0; /* Removes default margin for paragraphs */
}

.terminal-line {
  width: 100%;
  outline: none;
}

.output-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  flex: 1; /* Takes up the remaining space in the parent container */
  display: none;
}

.input-wrapper textarea {
  height: 100%;
  width: calc(
    100% - 10px
  ); /* Adjusted to account for padding to avoid overflow */
  resize: none;
  outline: none;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: large !important;
  caret-color: var(--primary-color);
}

.chat-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: calc(
    100% - 10px
  ); /* Adjusted to account for padding to avoid overflow */
  flex: 1;
  overflow: auto;
  scrollbar-gutter: stable; /* Ensures that content does not shift when the scrollbar appears */
}

.conversation {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  margin-bottom: 15px; /* Adds space between conversations for better readability */
}

.user-input-wrapper,
.answer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.user-input-wrapper {
  justify-content: flex-start;
}

.answer-wrapper {
  justify-content: flex-end;
}

.input,
.ai-response {
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 2px;
  text-wrap: wrap;
  min-width: min-content;
}

.ai-response {
  max-width: 80%;
}

.input {
  background-color: var(--text-color);
  color: var(--background-color);
}

.ai-response {
  background-color: var(--primary-color);
  color: var(--home-text-colorr);
}

/* Responsive styles for screens narrower than 1200px to improve layout on tablets and smaller devices */
@media only screen and (max-width: 1280px) {
  .coding-env {
    flex-direction: column;
  }

  .code-editor {
    height: 50%;
    width: 100%;
  }
}
