:root {
  --border-color: #ebe9fc22;
  --second-text-color: #ebe9fc70;
  --text-color: #ebe9fc;
  --background-color: #010104;
}

.cont-wrapper {
  overflow: hidden; /* Prevents overflow this allows to add a seperate scrollbar to lesson navigation and lesson content */
}

.lesson-cont-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; /* Ensures the container takes up available space */
}

.lesson-cont-top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px; /* Space between elements for better readability */
  border-top: 2px solid var(--border-color); /* Top border for visual separation */
  border-bottom: 2px solid var(--border-color); /* Bottom border for visual separation */
}

.lesson-cont {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.lesson-menu-bar {
  overflow-y: auto;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding-left: 0; /* Removes default padding */
  padding-right: 0; /* Removes default padding */
  border-right: 2px solid var(--border-color);
  gap: 20px; /* Space between buttons for better readability */
  overflow-y: auto;
  scrollbar-gutter: stable; /* Ensures that content does not shift when the scrollbar appears */
  height: 100%;
}

.lesson-menu-bar button {
  background-color: transparent;
  border: none; /* Removes default button border for a cleaner look */
  color: var(--second-text-color);
  text-align: left;
  font-size: medium;
  cursor: pointer;
  /* Adds space above and below each button for better readability */
  padding-bottom: 10px;
  padding-top: 10px;
}

.lesson-menu-bar button:hover {
  color: var(--text-color);
}

.show-lesson-menu-btn {
  display: none !important; /* Hidden by default, shown on smaller screens */
}

.lesson {
  overflow-x: hidden; /* Prevents horizontal overflow */
  scrollbar-gutter: stable; /* Prevents content shifting when the scrollbar appears */
  width: 100%;
  padding: 20px; /* Adds padding for better readability */
}

.lesson-title {
  font-size: xx-large;
  font-weight: bolder;
  margin: 0;
}

.lesson-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next-prev-btns-wrapper {
  display: flex;
  flex-direction: row;
}

.next-prev-btns-wrapper button svg {
  fill: var(--text-color) !important;
}

.lesson-top-bar svg,
.lesson-title-wrapper svg {
  height: 20px; /* Adjusted height for better visibility which goes with the text size */
  width: auto;
  fill: var(--text-color);
}

.lesson-top-bar button,
.lesson-title-wrapper button {
  background-color: transparent;
  border-radius: 50%; /* Makes the button circular */
  height: 30px;
  width: 30px;
  border: none; /* Removes default button border for a cleaner look */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lesson-top-bar button:hover {
  background-color: var(--second-text-color);
}

.lesson-title-wrapper {
  margin-top: 30px; /* Adds space above the title for better readability */
  display: flex;
  justify-content: space-between;
}

.down-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px; /* Space between buttons for better readability */
}

.done-btn,
.open-code-editor-btn {
  background-color: var(--text-color);
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: medium;
  color: var(--background-color);
  cursor: pointer; /* Changes the cursor to a pointer on hover to indicate it's clickable */
}

/* Target the vertical scrollbar thumb */
.lesson-menu-bar::-webkit-scrollbar-thumb,
.lesson::-webkit-scrollbar-thumb {
  background-color: transparent; /* Thumb color */
  border: 1px solid var(--second-text-color); /* White border around the thumb */
  border-radius: 10px; /* Rounded corners (optional) */
}

/* Track area behind the thumb */
.lesson-menu-bar::-webkit-scrollbar-track,
.lesson::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar width */
.lesson-menu-bar::-webkit-scrollbar,
.lesson::-webkit-scrollbar {
  width: 10px;
}

.coding-env {
  height: 100vh;
}

.code-editor {
  height: 500px;
  width: 500px;
}

.active-lesson {
  color: var(--text-color) !important;
}

code {
  border-radius: 15px; /* Adds rounded corners for a smoother look for code blocks */
}

.speak-btn:hover {
  background-color: var(--border-color) !important;
}

mark {
  background-color: lightblue !important;
}

.search-keywords-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.searchBox {
  visibility: hidden;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: medium;
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
  padding: 5px;
}

/* Responsive styles for screens narrower than 1200px to improve layout on tablets and smaller devices */
@media only screen and (max-width: 1280px) {
  .lesson-menu-bar {
    display: none; /* Hides the lesson menu bar on smaller screens and appears when user clicks the hamburger icon */
    width: 100%; /* Full width for better usability on smaller screens */
  }

  .show-lesson-menu-btn {
    display: flex !important; /* Shows the hamburger icon on smaller screens */
  }
}
