/* Styles for the discussion container and question cards in this file to reduce the code repetition */

/* Styles the discussion container which has all question cards*/
.discs-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
}

.question-card {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.question-card img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
}

.question-card svg {
  height: 20px;
  width: auto;
  fill: var(--second-text-color);
}

.question-card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--second-text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: medium;
}

.question-card-cont {
  display: flex;
  flex-direction: column;
  /*  width: 500px;*/
  flex: 1;
}

.question-card-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  width: 100%;
}

.question-card-top-bar p {
  margin: 0;
}

.question-card-top-bar div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-end;
}

.writer {
  font-size: medium;
  font-weight: bold;
}

.time {
  font-size: small;
  color: var(--second-text-color);
}

.number-of-answers {
  margin: 0;
}

.number-of-answers:hover {
  color: var(--text-color);
}

.question-card button:hover svg {
  fill: var(--text-color);
}

.question {
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 800px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Keeps a consistent height for the question text for better user experience */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.number-of-answers-wrapper {
  display: flex;
  flex-direction: row;
}

/* Responsive styles for screens narrower than 1200px to improve layout on tablets and smaller devices */
@media only screen and (max-width: 1280px) {
  .discs-cont {
    width: 90%;
  }

  .question {
    font-size: small;
  }

  .question-card img {
    height: 30px;
    width: 30px;
  }

  .question-card-top-bar {
    margin-bottom: 5px;
  }

  .question-card-top-bar div {
    flex-direction: column;
    align-items: flex-start;
  }
}
