.user-answer-input-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0); /* Center the input box horizontally */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 800px;
  background-color: var(--blocks-color);
  padding: 10px;
  border-radius: 25px; /* Rounded corners for the input box for the modern look */
}

.add-a-question-btn {
  display: none;
}

.user-answer-input-box {
  flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: medium;
  color: var(--text-color);
  caret-color: var(--primary-color);
  max-height: 150px;
  field-sizing: content;
  resize: none;
  font-family: "Inter";
  font-size: medium;
  margin-bottom: 5px;
  padding: 5px;
}

.send-user-answer-btn {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: none;
}

.send-user-answer-btn svg {
  height: 15px;
  width: auto;
  fill: var(--second-text-color);
}

.send-user-answer-btn:hover svg {
  fill: var(--text-color);
}

.discs-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px; /* Adds some space for better user redability */
  margin-bottom: 60px; /* Space for the input box at the bottom */
  align-items: flex-end;
}

.nested {
  width: 100%;
}

.nested-li {
  list-style: none;
}

.nested .nested-ul {
  padding: 0;
}

.nested .nested-ul,
.nested .nested-ul li {
  list-style: none;
}

.nested li .nested-ul {
  border-left: 1px solid var(--second-text-color);
  position: relative;
  margin-left: 25px;
}

.nested li .nested-ul::before {
  content: "";
  border-bottom: 1px solid var(--second-text-color);
  position: absolute;
  width: 0.5em;
  top: 1em;
}

.answers-wrapper {
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-end;
}

.question-card {
  display: flex;
  flex-direction: row;
  gap: 25px; /* Adds some space for better user redability */
  width: 100%;
  flex: 1;
  padding-bottom: 60px;
}

.answer-card {
  display: flex;
  flex-direction: row;
  gap: 25px; /* Adds some space for better user redability */
  width: 90%;
  flex: 1;
  padding-bottom: 60px;
  margin-left: 10px; /* Adds some space beween the answer-card and the nested line 
                        making the layout clearer for the user*/
}

.question-card img,
.answer-card img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  object-fit: cover;
}

.question-card svg,
.answer-card svg {
  height: 20px;
  width: auto;
  fill: var(--second-text-color);
}

.question-card button,
.answer-card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--second-text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: medium;
}

.question-card-cont,
.answer-card-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question-card-top-bar,
.answer-card-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.question-card-top-bar p,
.answer-card-top-bar p {
  margin: 0; /* Removed defoult margin because of extra space */
}

.question-card-top-bar div,
.answer-card-top-bar div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-end;
}

.writer {
  font-size: medium;
  font-weight: bold;
}

.time {
  font-size: small;
  color: var(--second-text-color);
}

.number-of-answers {
  margin: 0;
}

.number-of-answers:hover {
  color: var(--text-color);
}

.question-card button:hover svg {
  fill: var(--text-color);
}

.question,
.answer {
  margin-bottom: 15px;
  flex: 1;
  width: 100%;
}

.number-of-answers-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

code {
  border-radius: 15px;
}

.number-of-answers {
  margin: 0;
}

.answer-card button:hover svg {
  fill: var(--text-color);
}

.number-of-likes-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* Responsive styles for screens narrower than 1200px to improve layout on tablets and smaller devices */
@media only screen and (max-width: 1280px) {
  .user-answer-input-wrapper {
    width: 90%;
  }

  .discs-cont {
    width: 90%;
  }

  .question,
  .answer {
    font-size: small;
  }

  .question-card img,
  .answer-card img {
    height: 30px;
    width: 30px;
  }

  .question-card-top-bar,
  .answer-card-top-bar {
    margin-bottom: 5px;
  }

  .question-card-top-bar div,
  .answer-card-top-bar div {
    flex-direction: column;
    align-items: flex-start;
  }
}
