.user-reply-input-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0); /* Center the input box horizontally */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  background-color: var(--blocks-color);
  padding: 10px;
  border-radius: 25px; /* Rounded corners for the input box for the modern look */
}

.user-reply-input-box {
  flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: medium;
  color: var(--text-color);
  caret-color: var(--primary-color);
}

.send-user-reply-btn {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: none;
}

.send-user-reply-btn svg {
  height: 15px;
  width: auto;
  fill: var(--second-text-color);
}

.send-user-reply-btn:hover svg {
  fill: var(--text-color);
}

.discs-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px; /* Adds some space for better user redability */
}

.question-card {
  display: flex;
  flex-direction: row;
  gap: 25px; /* Adds some space for better user redability */
  width: 100%;
  flex: 1;
}

.question-card img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
}

.question-card svg {
  height: 20px;
  width: auto;
  fill: var(--second-text-color);
}

.question-card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--second-text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: medium;
}

.question-card-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question-card-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.question-card-top-bar p {
  margin: 0; /* Removed defoult margin because of extra space */
}

.question-card-top-bar div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-end;
}

.writer {
  font-size: medium;
  font-weight: bold;
}

.time {
  font-size: small;
  color: var(--second-text-color);
}

.number-of-answers {
  margin: 0;
}

.number-of-answers:hover {
  color: var(--text-color);
}

.question-card button:hover svg {
  fill: var(--text-color);
}

.question {
  margin-bottom: 15px;
  flex: 1;
  width: 100%;
}

.number-of-answers-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

code {
  border-radius: 15px;
}

/* Responsive styles for screens narrower than 1200px to improve layout on tablets and smaller devices */
@media only screen and (max-width: 1280px) {
  .user-reply-input-wrapper {
    width: 90%;
  }

  .discs-cont {
    width: 90%;
  }

  .question {
    font-size: small;
  }

  .question-card img {
    height: 30px;
    width: 30px;
  }

  .question-card-top-bar {
    margin-bottom: 5px;
  }

  .question-card-top-bar div {
    flex-direction: column;
    align-items: flex-start;
  }
}
