/* =========================================
   Login Page and Signup Page common Styles
   ========================================= */

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.ttc") format("truetype");
  font-style: normal;
  font-style: normal;
  font-weight: normal;
}

/* Define a reusable background color variable for alert boxes
   Used throughout the app for consistency and easy maintenance */
:root {
  --transparent-background-color: #000000a7;
}

body {
  background-color: #010104;
  display: flex;
  /* Uses flex — easier to handle and control the layout */
  border: none;
  margin: 0;
  flex-direction: row;
  width: 100%;
  /* Hide horizontal overflow. This prevents a scrollbar from appearing when animated 
     alert messages slide in from the side of the screen. */
  overflow-x: hidden;
}

/* Styles the app logo */
.logo {
  height: 100px;
}

/* Wrapper styles for input fields and password visibility toggle */
.email-entry-wrapper,
.name-entry-wrapper,
.password-entry-wrapper,
.confirm-password-entry-wrapper {
  position: relative;
  /* Sets boundary for absolutely positioned input inside */
  height: 40px;
  line-height: 40px;
  width: 400px;
  margin: 15px;
}

/* Styles input field */
input {
  position: absolute;
  /* Needed for placeholder shrink animation */
  width: 100%;
  outline: none;
  /* To give a modern web look */
  background-color: transparent;
  transition: 0.3s ease all;
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 2px solid #ebe9fc90;
  color: #ebe9fc;
  padding-left: 25px;
  font-size: medium;
  z-index: 10;
  /* z-index 10 is needed, or the placeholder blocks user typing */
}

/* Styles labels in inputs */
label {
  position: absolute;
  /* Needed for the shrinking animation on the placeholder */
  transition: 0.2s ease;
  padding-left: 25px;
  font-size: medium;
  color: #ebe9fc71;
  z-index: 5;
  /* z-index set to 5 so it's under the input and doesn't block clicking */
  font-family: 'Inter';
}

/* Styles the label when input is focused or has valid text */
/* Shrinks label to match modern web UI style */
input:focus+label,
input:valid+label {
  height: 5px;
  line-height: 20px;
  transform: translate(-15px, -20px);
  font-size: small;
  color: #ebe9fc;
}

/* Changes bottom border color when user clicks or enters valid input */
input:focus,
input:valid {
  border-bottom: 2px solid #ebe9fc;
  background-color: transparent;
}

/* Styles the laptop image */
.laptop-img {
  height: 100vh;
  margin-left: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Styles all the buttons */
button {
  background-color: #ebe9fc;
  color: black;
  border: none;
  font-family: "Inter";
  padding: 10px 30px 10px 30px;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease all;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* On hover, scales the button to show it's clickable and interactive */
button:hover {
  transform: scale(1.1);
}

/* Responsive styles for screens narrower than 1200px to improve layout on tablets and smaller devices */
@media only screen and (max-width: 1200px) {

  .name-entry-wrapper,
  .email-entry-wrapper,
  .password-entry-wrapper,
  .confirm-password-entry-wrapper {
    /* Use calc() to ensure there is padding between the form fields and the screen edges. */
    width: calc(100% - 60px);
  }
}
