/* ====================================
   Login Page and Signup Page common Styles
   ==================================== */

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.ttc") format("truetype");
  font-style: normal;
  font-style: normal;
  font-weight: normal;
}

/* Define a reusable background color variable for alert boxes
   Used throughout the app for consistency and easy maintenance */
:root {
  --transparent-background-color: #000000a7;
}

body {
  background-color: #010104;
  display: flex;
  border: none;
  margin: 0;
  flex-direction: row;
  width: 100%;
  /* Hide horizontal overflow. This prevents a scrollbar from appearing when animated 
     alert messages slide in from the side of the screen. */
  overflow-x: hidden;
}

.logo {
  height: 100px;
}

input {
  position: absolute;
  width: 100%;
  outline: none;
  background-color: transparent;
  transition: 0.3s ease all;
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 2px solid #ebe9fc90;
  color: #ebe9fc;
  padding-left: 25px;
  font-size: medium;
  z-index: 10;
}

label {
  position: absolute;
  transition: 0.2s ease;
  padding-left: 25px;
  font-size: medium;
  color: #ebe9fc71;
  z-index: 5;
}

input:focus + label,
input:valid + label {
  height: 5px;
  line-height: 20px;
  transform: translate(-15px, -20px);
  font-size: small;
  color: #ebe9fc;
}

input:focus,
input:valid {
  border-bottom: 2px solid #ebe9fc;
  background-color: transparent;
}

.laptop-img {
  height: 100vh;
  margin-left: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

button {
  background-color: #ebe9fc;
  color: black;
  border: none;
  font-family: "Inter";
  padding: 10px 30px 10px 30px;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease all;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button:hover {
  transform: scale(1.1);
}
