/* ====================================
   Login Page Styles
   ==================================== */

@import url("../auth/auth-base.css");

/* Styles the login wrapper (holds the form) and the main wrapper (includes form and extra elements) */
.wrapper,
.login-wrapper {
  width: 100%;
  /* Expands to fill the entire container width */
  display: flex;
  /* Uses flex, it is easy to handle the layout */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter";
  gap: 15px;
}

/* Styles the Hide password icons and Show password icons in password box */
.closed-eye-img-pass,
.eye-img-pass {
  fill: #ebe9fc7a;
  height: 20px;
  width: 20px;
  position: absolute;
  /* Positions element inside a relatively positioned input wrapper */
  right: 0;
  z-index: 15;
  /* Brings to top layer for clickability */
  transition: 0.3s ease all;
  cursor: pointer;
  width: min-content;
}

/* Hover style for password toggle to indicate it’s clickable */
.closed-eye-img-pass:hover,
.eye-img-pass:hover {
  fill: #ebe9fc;
}

/* Styles the Show password icons in password box */
.eye-img-pass {
  fill: #ebe9fc7a;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  z-index: 15;
  transition: 0.3s ease all;
  cursor: pointer;
  width: min-content;
}

/* Hide closed-eye icon initially (password is hidden by default) */
.closed-eye-img-pass {
  display: none;
}

/* Styles 'Create an Account' and 'or' */
p,
a {
  margin-top: 20px;
  text-decoration: none;
  color: #ebe9fc7f;
  transition: 0.3s ease all;
}

/* Hover style for 'Create an Account' to show it's clickable */
a:hover {
  color: #ebe9fc;
}

/* Styles the google logo in the 'Sign in with Google' button */
button img {
  height: 30px;
  width: auto;
}

/* Responsive styles for screens narrower than 1200px to improve layout on tablets and smaller devices */
@media only screen and (max-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Use the full viewport height to allow vertical centering of the form. */
    height: 100vh;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  /* Styles the laptop image */
  .laptop-img {
    all: unset; /* Clears all styles for easier custom styling */
    border-radius: 15px;
    height: 300px;
    width: 300px;
    margin: 0;
    margin-top: 15px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .login-wrapper {
    all: unset; /* Clears all styles for easier custom styling */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
    gap: 20px; /* Keeps spacing for better readability */
  }
}
