/* ====================================
   Sognup Page Styles
   ==================================== */

@import url("../auth/auth-base.css");

/* Styles the Signup / Create account form */
.create-an-account-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter";
  gap: 15px;
}

/* Styles the 'CREATE AN ACCOUNT' text */
.title {
  font-size: large;
  font-family: "Inter";
  color: #ebe9fc;
}

/* Styles the Hide password icons and Show password icons in password box */
.eye-img-confirm-pass,
.eye-img-pass,
.closed-eye-img-confirm-pass,
.closed-eye-img-pass {
  fill: #ebe9fc7a;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  z-index: 15;
  transition: 0.3s ease all;
  cursor: pointer;
  width: min-content;
}

/* Hide closed-eye icon initially (password is hidden by default) */
.closed-eye-img-confirm-pass,
.closed-eye-img-pass {
  display: none;
}

/* Hover style for password toggle to indicate it’s clickable */
.closed-eye-img-confirm-pass:hover,
.closed-eye-img-pass:hover,
.eye-img-confirm-pass:hover,
.eye-img-pass:hover {
  fill: #ebe9fc;
}

/* Responsive styles for screens narrower than 1200px to improve layout on tablets and smaller devices */
@media only screen and (max-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Use the full viewport height to allow vertical centering of the form. */
    height: 100vh;
    width: 100%;
  }

  .create-an-account-form-wrapper {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    gap: 20px;
  }

  .laptop-img {
    /* Hide the decorative image on small screens to focus on the sign-up form. */
    display: none;
  }
}
