<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', filename='images/logos/favicon.svg') }}" />
        <title>{{ message }}</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/error.css') }}" />
        <script>
      const theme = localStorage.getItem("app-theme-preference") || "light";
      document.documentElement.classList.add(theme);
        </script>
    </head>
    <body>
        <img src="{% if error_code == 404 %} {{ url_for('static', filename='images/assets/404_error.webp') }} {% elif error_code == 403 %} {{ url_for('static', filename='images/assets/403_error.webp') }} {% else %} {{ url_for('static', filename='images/assets/default_error.png') }} {% endif %}"
             alt="{{ error_code }}" />
        <div>
            <h1>{{ message }}</h1>
            <h3>
                {% if error_code == 404 %}
                    The page you are looking for was moved,
                    removed, or might never have existed.
                {% elif error_code == 403 %}
                    You
                    don’t have permission to access this page.
                {% else %}
                    An unexpected
                    error occurred.
                {% endif %}
            </h3>
            <button class="back-btn"
                    onclick="window.location.href='{{ url_for("dashboard.dashboard") }}'">Go to the App</button>
        </div>
    </body>
</html>
