{% macro search_bar(placeholder, form_action) %}
<form class="search-bar" action="{{ form_action }}" method="get" autocomplete="off">
  {# make the search bar as a component #}
  {# Below button only apears in the small screen to show the input box #}
  <button class="show-the-input-box" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512">
      <path
        d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z" />
    </svg>
  </button>
  <button type="submit" class="search-btn">
    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512">
      <path
        d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z" />
    </svg>
  </button>
  <input type="text" name="search" id="search" placeholder="{{ placeholder }}" />
</form>
{% endmacro %}
