{% extends 'user/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block
    extra_css %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/user/dashboard.css') }}" />
{% endblock %}
{% block content %}
    <div class="greeting-wrapper">
        <div class="greeting-txt-wrapper">
            <p class="greeting-txt">Hello {{ dashboard_data[1] }}!</p>
            <img src="{{ url_for('static', filename = 'images/icons/wave_hand.svg') }}"
                 alt="👋" />
        </div>
        <p class="welcome-txt">Welcome to Ada — ready to level up your coding skills today?</p>
    </div>
    <div class="block-wrapper">
        <div class="blocks wrapper-1">
            <div class="block continue-learning-wrapper"
                 {% if dashboard_data[2] is not none %} onclick="window.location.href='{{ url_for("my_courses.intermediate_route") }}'" {% endif %}>
                <div class="title">
                    <img src="{{ url_for('static', filename = 'images/icons/book.svg') }}"
                         alt="📘" />
                    <p>Continue Learning</p>
                </div>
                {% if dashboard_data[2] is none %}
                    <p class="empty">No Course selected</p>
                {% else %}
                    <p class="description">“{{ dashboard_data[2] }} - {{ dashboard_data[4] }}”</p>
                    <div class="progress-bar">
                        <div class="progress-line"></div>
                    </div>
                    <p class="completed-amount">{{ dashboard_data[6] | round | int }}% completed</p>
                {% endif %}
            </div>
            <div class="block problem-solved-wrapper"
                 onclick="window.location.href='{{ url_for("practice_hub.uncomplete_practice_challenges") }}'">
                <div class="title">
                    <img src="{{ url_for('static', filename = 'images/icons/goal.svg') }}"
                         alt="🎯" />
                    <p>Problem Solved</p>
                </div>
                <div class="progress-bar">
                    <div class="progress-line"></div>
                </div>
                <div class="progress-circle">
                    <div class="line"></div>
                </div>
                <p class="completed-amount">{{ dashboard_data[8] }} Questions completed</p>
            </div>
        </div>
        <div class="blocks wrapper-2">
            <div class="block streak-wrapper">
                <div class="title">
                    <img src="{{ url_for('static', filename = 'images/icons/fire.svg') }}"
                         alt="🔥" />
                    <p>Streak</p>
                </div>
                <p class="description">
                    {% if streak == 0 %}
                        No current streak. Make today your day one!
                    {% else %}
                        You're on a {{ streak }}-day streak! Keep it going!
                    {% endif %}
                </p>
            </div>
            <div class="block community-Buzz-wrapper"
                 onclick="window.location.href='{{ url_for("community.discussions", question_id = dashboard_data[10]) }}'">
                <div class="title">
                    <img src="{{ url_for('static', filename = 'images/icons/speech-bubble.svg') }}"
                         alt="💬" />
                    <p>Community Buzz</p>
                </div>
                <p class="description">Top question "{{ dashboard_data[9] }}"</p>
            </div>
        </div>
        <div class="blocks wrapper-3">
            <div class="block leard-board-wrapper">
                <div class="title">
                    <img src="{{ url_for('static', filename = 'images/icons/graph.svg') }}"
                         alt="📊" />
                    <p>Lead Board</p>
                </div>
                <!--Remmebr to use Forloop-->
                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Problem solved</th>
                    </tr>
                    {% for row in leadboard %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="block latest-achievement-wrapper">
                <div class="title">
                    <img src="{{ url_for('static', filename = 'images/icons/medal.svg') }}"
                         alt="🏅" />
                    <p>Latest Achievement</p>
                </div>
                <div class="achievement-block-wrapper">
                    <div class="achievements-block">
                        <div class="achievement-type">
                            <img src="{{ url_for('static', filename = 'images/icons/bronze-medal.svg') }}"
                                 alt="🥉" />
                            <p>Bronze Coins</p>
                        </div>
                        <p class="number-of-achievements">{{ dashboard_data[12] }}</p>
                        <p class="description">Earned by completing every 5 Easy challenges</p>
                    </div>
                    <div class="achievements-block">
                        <div class="achievement-type">
                            <img src="{{ url_for('static', filename = 'images/icons/silver-medal.svg') }}"
                                 alt="🥈" />
                            <p>Silver Coins</p>
                        </div>
                        <p class="number-of-achievements">{{ dashboard_data[13] }}</p>
                        <p class="description">Earned by completing every 5 Medium challenges</p>
                    </div>
                    <div class="achievements-block">
                        <div class="achievement-type">
                            <img src="{{ url_for('static', filename = 'images/icons/gold-medal.svg') }}"
                                 alt="🥇" />
                            <p>Gold Coins</p>
                        </div>
                        <p class="number-of-achievements">{{ dashboard_data[14] }}</p>
                        <p class="description">Earned by completing every 5 Hard challenges</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- Adds inline css because to show the progress bar visually to users We need to pass the Python variable to CSS, as we can't pass dit irectly into an external CSS -->
{% block inline_css %}
    <style>
  .continue-learning-wrapper .progress-line {
    width: {{ dashboard_data[6] }}%;
  }

  .problem-solved-wrapper .progress-line {
    width: {{ dashboard_data[7] }}%;
  }

  /* Responsive styles for screens narrower than 1200px to improve layout on tablets and smaller devices */
  @media only screen and (max-width: 1200px) {
    {% if dashboard_data[6] is not none %}
            .continue-learning-wrapper .progress-line {
      width: {{ 100 }}%;
      background: conic-gradient(
        #d8b731 0deg {{ (dashboard_data[6] * 360 )/100 }}deg,
        transparent 0deg 360deg
      );
  }
    {% endif %}

    {% if dashboard_data[7] is not none %}

  .problem-solved-wrapper .progress-line {
      width: {{ 100 }}%;
      background: conic-gradient(
        #d87f31 0deg {{ (dashboard_data[7] * 360 )/100 }}deg,
        transparent 0deg 360deg
      );
  }
    {% endif %}

  }
    </style>
{% endblock %}
{% block extra_js %}<script src="{{ url_for('static', filename='js/user/dashboard.js') }}"></script>{% endblock %}
